
        </div>
      </div>


          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">To publish a new ad, please login.</small></h3>
            </div>
            <div class="panel-body">
              <form role="form">

                <input type="submit" ui-sref="login" value="Login" class="btn btn-primary btn-block">
                <input type="submit" ui-sref="register" value="Register" class="btn btn-primary btn-block">

              </form>
          </div>
            </div>
